<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Create a new license</mat-card-title>
        <form [formGroup]="licenseForm" autocomplete="off" novalidate (ngSubmit)="createLicense(licenseForm.value)"
            fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>

                <mat-form-field>
                    <mat-label>Bank Name</mat-label>
                    <mat-select formControlName="bank">
                        <mat-option *ngFor="let bank of banks" [value]="bank.id">
                            {{bank.bankName}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end">If the bank is not in the list, create a new one from bank actions</mat-hint>
                    <mat-error *ngIf="hasError('bank', 'required')">Bank name is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Application Name</mat-label>
                    <mat-select formControlName="application">
                        <mat-option *ngFor="let application of applications" [value]="application.id">
                            {{application.applicationName}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end">If the application is not in the list, create a new one from application actions</mat-hint>
                    <mat-error *ngIf="hasError('application', 'required')">Application name is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="Choose a date of expiration"
                        formControlName="dateExpired" id="dateExpired" readonly (click)="picker2.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-hint align="end">You should choose expiration date.</mat-hint>
                    <mat-error *ngIf="hasError('dateExpired', 'required')">Expiration date is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Creation date:"
                        formControlName="dateCreated" id="dateCreated" readonly (click)="picker.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint align="end">Creation date is created dynamically.</mat-hint>
                    <mat-error *ngIf="hasError('dateCreated', 'required')">Creation date is required</mat-error>
                </mat-form-field>  

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!licenseForm.valid">Create</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>