<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="450px" fxFlex.xs="100%">
        <mat-card-title>Login </mat-card-title>
        <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="login(loginForm.value)"
            fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="User's name" formControlName="userName"
                        id="userName">
                    <mat-hint align="end">You should enter your user name</mat-hint>
                    <mat-error *ngIf="hasError('userName', 'required')">Name is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="User's password" formControlName="userPassword"
                        id="userPassword">
                    <mat-hint align="end">You should enter your password.</mat-hint>
                    <mat-error *ngIf="hasError('userPassword', 'required')">Password is required</mat-error>
                </mat-form-field>


            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
                <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>
<div fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <br>
    <br>
<button mat-raised-button color="primary" (click)="redirectToSignup()">Create New User</button>
</div>