<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Banks details:</mat-card-title>
    <mat-card-content>
      
      <div fxLayout="column wrap" fxLayoutGap="10px">
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Bank's name:</strong></div>
          <div fxFlex>{{bank?.bankName}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Bank code:</strong></div>
          <div fxFlex>{{bank?.bankCode }}</div>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="deleteBank()">Delete</button>
      <button mat-raised-button color="primary" (click)="redirectToBankList()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</section>