<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Add application</mat-card-title>
        <form [formGroup]="addApplicationForm" autocomplete="off" novalidate
            (ngSubmit)="addApplication(addApplicationForm.value)" fxLayout="column wrap" fxLayoutAlign="center center"
            fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Application Name</mat-label>
                    <mat-select formControlName="application">
                        <mat-option *ngFor="let application of applications" [value]="application.id">
                            {{application.applicationName}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="center">If the application is not in the list, create a new one from application
                        actions</mat-hint>
                    <mat-error *ngIf="validateControl('application') && hasError('application', 'required')">
                        Application name is required
                    </mat-error>
                </mat-form-field>

            </mat-card-content>


            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!addApplicationForm.valid">Add application</button>
                <button type="button" mat-raised-button color="warn" (click)="redirectToBankList()">Cancel</button>
            </mat-card-actions>

        </form>

    </mat-card>

</section>