<mat-nav-list class="background-primary">
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/application/applications" (click)="onSidenavClose()">
        <mat-icon>apps</mat-icon> <span class="nav-caption">Application Actions</span>
    </a>
    <a mat-list-item routerLink="/bank/banks" (click)="onSidenavClose()">
        <mat-icon>money</mat-icon> <span class="nav-caption">Bank Actions</span>
    </a>
    <a mat-list-item routerLink="/license/licenses" (click)="onSidenavClose()">
        <mat-icon>book</mat-icon> <span class="nav-caption">License Actions</span>
    </a>
    <a mat-list-item routerLink="/user/users" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">User Actions</span>
    </a>
</mat-nav-list>