<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px"
  fxLayoutGap.lt.md="20px">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort matSortStart="desc" (matSortChange)="customSort($event)">
  <ng-container matColumnDef="licenseName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Application name </th>
    <td mat-cell *matCellDef="let element"> {{element.licenseName}} </td>
  </ng-container>

  <ng-container matColumnDef="licenseCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> License code </th>
    <td mat-cell *matCellDef="let element"> {{element.licenseCode}} </td>
  </ng-container>

  <ng-container matColumnDef="dateCreated">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation date </th>
    <td mat-cell *matCellDef="let element"> {{element.dateCreated | date}} </td>
  </ng-container>

  <ng-container matColumnDef="dateExpired">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiration Date </th>
    <td mat-cell *matCellDef="let element"> {{element.dateExpired | date}} </td>
  </ng-container>

  <ng-container matColumnDef="createdBy">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created by </th>
    <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
  </ng-container>

  <ng-container matColumnDef="isActivated">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Is activated </th>
    <td mat-cell *matCellDef="let element"> {{element.isActivated}} </td>
  </ng-container>
  <!--   
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef> Download </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="downloadLicense(element.id)">
          <mat-icon class="mat-18">save_alt</mat-icon>
        </button>
      </td>
    </ng-container>
  
  
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
          <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="deleteLicense(element.id)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; let even = even;  columns: displayedColumns;" [ngClass]="{blueLight: even}"></tr>
</table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100]">
</mat-paginator>