<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-accordion fxFlex="500px" fxFlex.xs="100%">
        <mat-expansion-panel *ngFor="let bank of banks; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{i+1}}. Bank
            </mat-panel-title>
            <mat-panel-description>
              Bank Information
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxFlex="35%" class="text-color"><strong>Name:</strong> &nbsp; {{bank?.bankName}}</div>
            <div fxFlex="35%" class="text-color"><strong>Code:</strong> &nbsp; {{bank?.bankCode}}</div>
          </div>
 
        </mat-expansion-panel>
      </mat-accordion>
</section>