<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Update a bank</mat-card-title>
    <form [formGroup]="bankForm" autocomplete="off" novalidate (ngSubmit)="updateBank(bankForm.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">  
      <mat-card-content>
         <mat-form-field>
          <input matInput type="text" placeholder="Bank's name" formControlName="bankName" id="bankName">
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="validateControl('bankName') && hasError('bankName', 'required')">Name is required
          </mat-error>
          <mat-error *ngIf="validateControl('bankName') && hasError('bankName', 'maxlength')">You have more than
            60 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Bank's code" formControlName="bankCode" id="bankCode">
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="validateControl('bankCode') && hasError('bankCode', 'required')">Code is required
          </mat-error>
          <mat-error *ngIf="validateControl('bankCode') && hasError('bankCode', 'maxlength')">You have more than
            60 characters</mat-error>
        </mat-form-field>
      </mat-card-content>

      
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!bankForm.valid">Update</button>
        <button type="button" mat-raised-button color="warn" (click)="redirectToBankList()">Cancel</button>
      </mat-card-actions>
    
    </form>

  </mat-card>

</section>