<div>
  <a [routerLink]="['/bank/create']" mat-raised-button color="primary">Create Bank</a>
</div>
<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort matSortStart="desc" (matSortChange)="customSort($event)">
    
  <ng-container matColumnDef="bankName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bank Name </th>
      <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
    </ng-container>
   
   
    <ng-container matColumnDef="bankCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bank code </th>
      <td mat-cell *matCellDef="let element"> {{element.bankCode}} </td>
    </ng-container>

     <ng-container matColumnDef="listLicenses">
      <th mat-header-cell *matHeaderCellDef> List licenses </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="redirectTolistLicenses(element.id)">
            <mat-icon class="mat-18">reorder</mat-icon>
        </button>
      </td>
    </ng-container>
   
    <!-- <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
            <mat-icon class="mat-18">reorder</mat-icon>
        </button>
      </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="addApplication">
      <th mat-header-cell *matHeaderCellDef> Add Application </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="redirectToAddApplication(element.id)">
            <mat-icon class="mat-18">add</mat-icon>
        </button>
      </td>
    </ng-container> -->
   
    <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
              <mat-icon class="mat-18">system_update</mat-icon>
          </button>
        </td>
      </ng-container>
   
      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteBank(element.id)">
                <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </td>
        </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let even = even;  columns: displayedColumns;" [ngClass]="{blueLight: even}"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100]">
 </mat-paginator>
