<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Create a new bank</mat-card-title>
        <form [formGroup]="bankForm" autocomplete="off" novalidate (ngSubmit)="createBank(bankForm.value)"
            fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="Bank's name" formControlName="bankName" id="bankName">
                    <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('bankName', 'required')">Name is required</mat-error>
                    <mat-error *ngIf="hasError('bankName', 'maxlength')">You have more than 60 characters</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Bank's Code" formControlName="bankCode">
                    <mat-hint align="end">Not more then 100 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('bankCode', 'required')">Bank Code is required</mat-error>
                    <mat-error *ngIf="hasError('bankCode', 'maxlength')">You have more than 100 characters</mat-error>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!bankForm.valid">Create</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>