<mat-toolbar color="primary">
    <!-- <div fxHide.gt-xs> -->
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    <!-- </div> -->
    <div>
        <a routerLink="/home">License Management Application</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs class="navigation-items">
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="isAuthenticated">Actions</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLinkActive="active" routerLink="/application/applications"
            routerLinkActive="color">Application Actions</button>
            <button mat-menu-item routerLinkActive="active" routerLink="/bank/banks"
            routerLinkActive="color">Bank Actions</button>
            <button mat-menu-item routerLinkActive="active" routerLink="/license/licenses"
            routerLinkActive="color">License Actions</button>
            <button mat-menu-item routerLinkActive="active" routerLink="/user/users"
            routerLinkActive="color">User Actions</button>         
        </mat-menu>
            <button mat-button *ngIf="isAuthenticated" (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
   
    </div>
</mat-toolbar>