<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Applications details:</mat-card-title>
    <mat-card-content>
      
      <div fxLayout="column wrap" fxLayoutGap="10px">
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Application's name:</strong></div>
          <div fxFlex>{{application?.applicationName}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Application details:</strong></div>
          <div fxFlex>{{application?.applicationDetails }}</div>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="deleteApplication()">Delete</button>
      <button mat-raised-button color="primary" (click)="redirectToApplicationList()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</section>