<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Details for the clicked application</mat-card-title>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutGap="40px">
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Application's name:</strong></div>
          <div fxFlex>{{application?.applicationName}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Application Details:</strong></div>
          <div fxFlex>{{application?.applicationDetails }}</div>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-form-field>
        <mat-select placeholder="Show banks" (selectionChange)="onChange($event)">
          <mat-option *ngFor="let option of selectOptions" [value]="option.value">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-actions>
  </mat-card>
</section>