<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Update a license</mat-card-title>
    <form [formGroup]="licenseForm" autocomplete="off" novalidate (ngSubmit)="updateLicense(licenseForm.value)"
      fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
<!-- 
        <mat-form-field>
          <mat-label>Bank Name</mat-label>
          <mat-select formControlName="bank">
            <mat-option *ngFor="let bank of banks" [value]="bank.id">
              {{bank.bankName}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">If the bank is not in the list, create a new one from bank actions</mat-hint>
          <mat-error *ngIf="hasError('bank', 'required')">Bank name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Application Name</mat-label>
          <mat-select formControlName="application">
            <mat-option *ngFor="let application of applications" [value]="application.id">
              {{application.applicationName}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">If the application is not in the list, create a new one from application actions
          </mat-hint>
          <mat-error *ngIf="hasError('application', 'required')">Application name is required</mat-error>
        </mat-form-field> -->

        <mat-form-field>
          <input matInput type="text" placeholder="License's code" formControlName="licenseCode" id="licenseCode">
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="validateControl('licenseCode') && hasError('licenseCode', 'required')">Code is required
          </mat-error>
          <mat-error *ngIf="validateControl('licenseCode') && hasError('licenseCode', 'maxlength')">You have more than
            60 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Creation Date: " formControlName="dateCreated"
            id="dateCreated" readonly (click)="picker.open()" (change)="executeDateCreatedPicker($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint align="end">Date of creation is required</mat-hint>
          <mat-error *ngIf="validateControl('dateCreated') && hasError('dateCreated', 'required')">Date of creation is
            required </mat-error>>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Expiration Date: " formControlName="dateExpired"
            id="dateExpired" readonly (click)="picker2.open()" (change)="executeDateExpiredPicker($event)">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-hint align="end">Date of expiration is required</mat-hint>
          <mat-error *ngIf="validateControl('dateExpired') && hasError('dateExpired', 'required')">Date of expiration is
            required </mat-error>>
        </mat-form-field>

        <br>
        <br>
        <mat-checkbox formControlName="isActivated">Is activated </mat-checkbox>
        <br>
        <br>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!licenseForm.valid">Update</button>
        <button type="button" mat-raised-button color="warn" (click)="redirectToLicenseList()">Cancel</button>
      </mat-card-actions>

    </form>

  </mat-card>

</section>