<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Create a new user</mat-card-title>
        <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="createUser(userForm.value)"
            fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="User's name" formControlName="userName"
                        id="userName">
                    <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('userName', 'required')">Name is required</mat-error>
                    <mat-error *ngIf="hasError('userName', 'maxlength')">You have more than 60 characters</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="User's password" formControlName="userPassword"
                        id="userPassword">
                    <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('userPassword', 'required')">Password is required</mat-error>
                    <mat-error *ngIf="hasError('userPassword', 'maxlength')">You have more than 60 characters</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="email" placeholder="User's email" formControlName="userEmail"
                        id="userEmail">
                    <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('userEmail', 'required')">Email is required</mat-error>
                    <mat-error *ngIf="hasError('userEmail', 'maxlength')">You have more than 60 characters</mat-error>
                    <mat-error *ngIf="hasError('userEmail', 'email')">This is not correct email</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date of birth"
                        formControlName="dateOfBirth" id="dateOfBirth" readonly (click)="picker.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint align="end">You should choose birth date.</mat-hint>
                    <mat-error *ngIf="hasError('dateOfBirth', 'required')">Birth date is required</mat-error>
                </mat-form-field>


            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!userForm.valid">Create</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>