<section fxLayout="column" fxLayoutAlign="center center">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <mat-dialog-content>
      <p>{{data.message}}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
      <button mat-raised-button (click)="onDismiss()">No</button>
    </mat-dialog-actions>
</section>