<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Update a application</mat-card-title>
    <form [formGroup]="applicationForm" autocomplete="off" novalidate (ngSubmit)="updateApplication(applicationForm.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">  
      <mat-card-content>
         <mat-form-field>
          <input matInput type="text" placeholder="Application's name" formControlName="applicationName" id="applicationName">
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="validateControl('applicationName') && hasError('applicationName', 'required')">Name is required
          </mat-error>
          <mat-error *ngIf="validateControl('applicationName') && hasError('applicationName', 'maxlength')">You have more than
            60 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Application's details" formControlName="applicationDetails" id="applicationDetails">
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="validateControl('applicationDetails') && hasError('applicationDetails', 'required')">Details is required
          </mat-error>
          <mat-error *ngIf="validateControl('applicationDetails') && hasError('applicationDetails', 'maxlength')">You have more than
            60 characters</mat-error>
        </mat-form-field>
      </mat-card-content>
      
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!applicationForm.valid">Update</button>
        <button type="button" mat-raised-button color="warn" (click)="redirectToApplicationList()">Cancel</button>
      </mat-card-actions>
    
    </form>

  </mat-card>

</section>