<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Licenses details:</mat-card-title>
    <mat-card-content>
      
      <div fxLayout="column wrap" fxLayoutGap="10px">
        <!-- <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>License's name:</strong></div>
          <div fxFlex>{{license?.licenseName}}</div>
        </div>  -->

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>License code:</strong></div>
          <div fxFlex>{{license?.licenseCode }}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>License creation date:</strong></div>
          <div fxFlex>{{license?.dateCreated }}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>License expiration date:</strong></div>
          <div fxFlex>{{license?.dateExpired }}</div>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="deleteLicense()">Delete</button>
      <button mat-raised-button color="primary" (click)="redirectToLicenseList()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</section>