.myHeader{
    position: relative;
    height:62px;
}
.left-btn{
    width:10% !important; 
    position: absolute;
    left: 10%;
}
.right-btn{
    width:10% !important;
    position: absolute;
    right: 15%;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
    font-weight: bold;
}
.blueLight { 
    background-color: #94d5e665
}