table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}
.blueLight { 
    background-color: #94d5e665
}