<section fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="30px">
  <div fxFlex>
      <p>404 Not Found</p>
    </div>
    <div fxFlex>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </section>