<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Users details:</mat-card-title>
    <mat-card-content>
      
      <div fxLayout="column wrap" fxLayoutGap="10px">
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>User's name:</strong></div>
          <div fxFlex>{{user?.userName}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>User password:</strong></div>
          <div fxFlex>{{user?.userPassword }}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>User email:</strong></div>
          <div fxFlex>{{user?.userEmail }}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>User birth date:</strong></div>
          <div fxFlex>{{user?.dateOfBirth }}</div>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="deleteUser()">Delete</button>
      <button mat-raised-button color="primary" (click)="redirectToUserList()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</section>