<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Details for the clicked bank</mat-card-title>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutGap="40px">
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Bank's name:</strong></div>
          <div fxFlex>{{bank?.bankName}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Bank Code:</strong></div>
          <div fxFlex>{{bank?.bankCode }}</div>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-form-field>
        <mat-select placeholder="Show licenses" (selectionChange)="onChange($event)">
          <mat-option *ngFor="let option of selectOptions" [value]="option.value">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-actions>
  </mat-card>
</section>