<section fxLayout="column" fxLayoutAlign="center center">
    <!-- <h1 mat-dialog-title>{{data.title}}</h1> -->
    <h1 mat-dialog-title>{{data.title}}</h1>
    <mat-dialog-content>
      <p>{{data.message}}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" [mat-dialog-close]="true">OK</button>
    </mat-dialog-actions>
</section>
