<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Update a user</mat-card-title>
    <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="updateUser(userForm.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">  
      <mat-card-content>
         <mat-form-field>
          <input matInput type="text" placeholder="User's name" formControlName="userName" id="userName">
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="validateControl('userName') && hasError('userName', 'required')">Name is required
          </mat-error>
          <mat-error *ngIf="validateControl('userName') && hasError('userName', 'maxlength')">You have more than
            60 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="User's password" formControlName="userPassword" id="userPassword">
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="validateControl('userPassword') && hasError('userPassword', 'required')">Password is required
          </mat-error>
          <mat-error *ngIf="validateControl('userPassword') && hasError('userPassword', 'maxlength')">You have more than
            60 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="User's email" formControlName="userEmail" id="userEmail">
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="validateControl('userEmail') && hasError('userEmail', 'required')">Email is required
          </mat-error>
          <mat-error *ngIf="validateControl('userEmail') && hasError('userEmail', 'maxlength')">You have more than
            60 characters</mat-error>
            <mat-error *ngIf="hasError('userEmail', 'email')">This is not correct email</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date of birth" formControlName="dateOfBirth"
            id="dateOfBirth" readonly (click)="picker.open()" (change)="executeDateOfBirthPicker($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint align="end">Date of birth is required</mat-hint>
          <mat-error *ngIf="validateControl('dateOfBirth') && hasError('dateOfBirth', 'required')">Date of creation is
            required </mat-error>>
        </mat-form-field>
      </mat-card-content>
      
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!userForm.valid">Update</button>
        <button type="button" mat-raised-button color="warn" (click)="redirectToUserList()">Cancel</button>
      </mat-card-actions>
    
    </form>

  </mat-card>

</section>