<div Fxlaout="row" fxLayoutGap="20px" class="container">
  <div fxFlex=50%>
      <mat-card>
       <app-licenses-statistics></app-licenses-statistics>
      </mat-card>
  </div>
  <div fxFlex=50%>
      <mat-card>
          <app-licenses-per-bank> </app-licenses-per-bank>
       </mat-card>
  </div>
</div> 
