<!-- <app-application-data [application]='application' (selectEmitt)='showBanks = $event'></app-application-data>
<app-application-bank-data *ngIf='showBanks' [banks]='application?.banks'></app-application-bank-data> -->
